.Container {
  display: flex;
  flex-direction: column;
  .SearchCity {
    max-width: 100%;
  }
  @media screen and (min-width: 560px) {
    flex-direction: row;
  }
}

.Location {
  composes: LocationInfo from "./../../index.css";
}
