.Container {
  display: flex;
  flex-direction: column;
  .SearchCity {
    max-width: 100%;
  }
  @media screen and (min-width: 560px) {
    flex-direction: row;
  }
}

.Location {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #ffffffb3;
  color: #000;
  text-align: center;
}
