.NavigationItems {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: -185px;
  height: 100%;
  top: 0px;
  z-index: 100;
  margin: 0;
  padding: 40px 30px 0 10px;
  transition: all 1s ease;
}

.MobileMenuActive {
  right: 0;
  background-color: #fff;
}

@media screen and (min-width: 550px) {
  .NavigationItems {
    flex-direction: row;
    position: static;
    height: auto;
    padding: 10px;
  }
  .ToggleMenu {
    display: none;
  }
}
