.NavigationItem {
  margin: 10px;
  list-style: none;
  align-items: center;
  color: #000;
  a {
    display: flex;
    align-items: center;
    padding: 0 5px;
    text-decoration: none;
    color: inherit;
    @media screen and (min-width: 550px) {
      height: 100%;
    }
  }

  @media screen and (min-width: 550px) {
    margin: 0 10px;
    color: #fff;
    height: 100%;
  }
  .ActiveMenuTab {
    color: #e83a3a;
  }
}
