.NavigationItem {
  margin: 10px;
  list-style: none;
  align-items: center;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

.NavigationItem a {
  display: inline-block;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.ActiveMenuTab {
  color: red;
}

@media screen and (min-width: 550px) {
  .NavigationItem {
    margin: 0 10px;
    color: #fff;
    height: 100%;
  }

  .NavigationItem a {
    height: 100%;
  }
}
