.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 5px 10px 0;
  background-color: #ffffffb3;
  border-radius: 5px;
  padding: 10px;
  .dayName {
    margin: 5px 0;
  }

  .temperatures {
    display: flex;
    margin-top: 5px;
  }

  .weatherImage {
    width: 100px;
    height: 100px;
  }

  .dayTmp {
    font-weight: 600;
  }
  .nightTmp {
    margin-left: 15px;
  }
}
