@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Regular.ttf") format("woff2"),
    url("./fonts/Roboto/Roboto-Bold.ttf") format("woff2");
}

html {
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

.site-bg {
  background: url("./images/site-bga.jpg");
  background-position: center;
  background-size: cover;
}

.LocationInfo {
  padding: 10px 15px;
  margin: 5px auto;
  border-radius: 20px;
  background-color: #ffffffb3;
  color: #000;
  width: auto;
  text-align: center;
  max-width: 100%;
}

@media screen and (min-width: 350px) {
  body {
    height: 100%;
  }
}

@media screen and (min-width: 550px) {
  .ap-dropdown-menu {
    width: 450px;
  }
}
