@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Regular.ttf") format("woff2"),
    url("./fonts/Roboto/Roboto-Bold.ttf") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

.site-bg {
  background: url("./images/day-and-night-1228029.jpg");
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 550px) {
  body {
    height: 100%;
  }
}
